# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec
pyinstaller_build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# misc
.scraps/

# runtime
runtime/
