# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec
pyinstaller_build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# misc
.scraps/

# runtime (ignore everything except images)
runtime/*
!runtime/images/
!runtime/.gitkeep

# webui
.DS_Store
node_modules
frontend_web/build
frontend_web/.svelte-kit
frontend_web/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
